## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_over_one = classification_counts.loc[classification_counts > 1]
classification_counts_over_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_convert = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_convert.drop(["IS_SUCCESSFUL"], axis=1)
y = application_convert["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="relu"))


# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 10)                440

 dense_7 (Dense)             (None, 5)                 55

 dense_8 (Dense)             (None, 1)                 6

=================================================================
Total params: 501
Trainable params: 501
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [27]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 2.6905 - accuracy: 0.6326
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 1.8486 - accuracy: 0.6848
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 1.5674 - accuracy: 0.6967
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 1.1517 - accuracy: 0.6858
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 1.0003 - accuracy: 0.6624
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9593 - accuracy: 0.6856
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9166 - accuracy: 0.6829
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8341 - accuracy: 0.6869
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8009 - accuracy: 0.7038
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8329 - accuracy: 0.7167
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8181 - accuracy: 0.7174
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.8113 - accuracy: 0.7207
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8039 - accuracy: 0.7215
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7530 - accuracy: 0.7144
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7074 - accuracy: 0.7206
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7011 - accuracy: 0.7221
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7015 - accuracy: 0.7223
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7013 - accuracy: 0.7231
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7901 - accuracy: 0.7124
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7043 - accuracy: 0.7225
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7008 - accuracy: 0.7227
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6944 - accuracy: 0.7232
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6918 - accuracy: 0.7233
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6914 - accuracy: 0.7239
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6986 - accuracy: 0.7230
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7093 - accuracy: 0.7193
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6930 - accuracy: 0.7248
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7019 - accuracy: 0.7241
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7050 - accuracy: 0.7245
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6928 - accuracy: 0.7236
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.7234
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6899 - accuracy: 0.7243
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.7249
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6890 - accuracy: 0.7246
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6975 - accuracy: 0.7188
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6989 - accuracy: 0.7152
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6924 - accuracy: 0.7214
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6856 - accuracy: 0.7268
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6958 - accuracy: 0.7191
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6889 - accuracy: 0.7252
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.7263
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6866 - accuracy: 0.7259
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6852 - accuracy: 0.7270
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6834 - accuracy: 0.7271
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6848 - accuracy: 0.7278
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6865 - accuracy: 0.7277
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6928 - accuracy: 0.7244
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6860 - accuracy: 0.7264
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.7243
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6824 - accuracy: 0.7273
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6794 - accuracy: 0.7256
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6799 - accuracy: 0.7275
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6766 - accuracy: 0.7280
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6765 - accuracy: 0.7278
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6747 - accuracy: 0.7270
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6755 - accuracy: 0.7277
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6769 - accuracy: 0.7279
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6800 - accuracy: 0.7280
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6762 - accuracy: 0.7281
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6762 - accuracy: 0.7289
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6738 - accuracy: 0.7271
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6750 - accuracy: 0.7267
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6792 - accuracy: 0.7282
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6853 - accuracy: 0.7272
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6812 - accuracy: 0.7270
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6731 - accuracy: 0.7273
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6448 - accuracy: 0.7229
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6167 - accuracy: 0.7212
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6182 - accuracy: 0.7237
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6200 - accuracy: 0.7291
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6174 - accuracy: 0.7291
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6151 - accuracy: 0.7273
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6142 - accuracy: 0.7292
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6140 - accuracy: 0.7303
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6188 - accuracy: 0.7272
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6127 - accuracy: 0.7281
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6212 - accuracy: 0.7287
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6201 - accuracy: 0.7286
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6194 - accuracy: 0.7298
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6232 - accuracy: 0.7284
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6174 - accuracy: 0.7302
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6128 - accuracy: 0.7296
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6077 - accuracy: 0.7301
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6063 - accuracy: 0.7301
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6056 - accuracy: 0.7296
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6064 - accuracy: 0.7294
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6053 - accuracy: 0.7293
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6098 - accuracy: 0.7304
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6073 - accuracy: 0.7301
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6083 - accuracy: 0.7296
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6063 - accuracy: 0.7297
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6057 - accuracy: 0.7297
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6095 - accuracy: 0.7290
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6177 - accuracy: 0.7265
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6047 - accuracy: 0.7311
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6054 - accuracy: 0.7303
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6040 - accuracy: 0.7310
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6031 - accuracy: 0.7296
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6070 - accuracy: 0.7308
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6043 - accuracy: 0.7297

In [28]:
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6337 - accuracy: 0.7275 - 466ms/epoch - 2ms/step
Loss: 0.6337345838546753, Accuracy: 0.7274635434150696

In [32]:
# Export our model to HDF5 file



nn_model.save('/content/drive/MyDrive/AlphabetSoupCharityModel3.h5')